

body{
	margin: 0;
	padding: 0;
}

*, *:after, *:before {
	box-sizing: border-box;
}

.head {
	text-align: center;

}


/*body columns*/




.column-sm {
	width: 25%;
	height: auto;
	float: left;
	
	
}

.column-middle {
	width: 50%;
	height: auto;
	float: left;
	
	

}

.column-middle img{
	width: 100%;
	height: auto;
	

}

/*bottom columns*/

.col-3 {
	width: 33.33%;
	float: right;
}

.col-full {
	width: 100%;
}

/*grid*/

.grid:after {
	content: "";
	display: table;
	clear: both;
}




.grid-pad {
	padding: 20px 0 20px 0;
}

.border { 
	border: 1px dashed;
 }

 .module	{
	padding: 10px;
	margin: 10px;
}
